body {
    background-color: black;
}

header {
    color: #fff;
    text-align: center;
}

#carousel-imagem img {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 36px;
    
}

.card {
    margin-bottom: 36px;
}



